<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/editSavingsGoal.css">
</head>
<body>
    <h3>Edit your savings details</details></h3>
    <form method="post" action="/savingsGoal/<%=save._id%>/edit">
        <labe for="savingSource">From where do you want to save?</labe></br>
        <textarea name="savingSource" rows="0" cols="50" ><%=save.savingSource%></textarea></br></br>
        <label for="goal">Describe your goal to save money</label></br>
        <textarea name="goal" maxlength="200" cols="50"><%=save.goals%>"</textarea></br></br>
        <label for="estimatedSave">Estimate the amount you can save</label></br>
        <input type="number" name="estimatedSave" min="0" step="0.0001" value="<%=save.estimatedSave%>"></br></br>
        <labe for="savedAmount">The amount you could save at the end:</labe></br>
        <input type="number" name="savedAmount" min="0" step="0.0001" value="<%=save.savedAmount%>"></br></br>
        <labe for="targetMonth">Target Month</labe></br>
        <input type="text" name="targetMonth" value="<%=save.targetMonth%>"></br></br>
        <label for="done">Done: </label>
        <input type="checkbox" name="done" value="true"></br></br>
        <button type="submit">Edit</button>
    </form>
    <% if(error){%>
        <p style="color:red;"><%= error %></p>
    <%}%>
</body>
</html>