<% layout("/layouts/boilerplate") %>
<link rel="stylesheet" href="/emergency.css">
<link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
<body>
    <div class="emergency-page">
        <h3>Tracking Emergency Fund</h3>
        <%let target = 0; %>
        <% let targetIDX = 0; %>
        <% if(emergencyFund.length == 0){%>
            
        <%} else {%>
        <% targetIDX = emergencyFund.length -1 ;%>
        <% target = emergencyFund[targetIDX].targetfund; %>
        <%}%>
        <% if(emergencyFund.length == 0){%>
            <h6>Yet to add anything</h6>
        <%} else {%>
            <table class="table-wrapper">
                <tr>
                    <th>Current Fund</th>
                    <th>Last deposited</th>
                    <th>Note</th>
                    <th>Deposit Date</th>
                    <th>Delete</th>
                </tr>
                <% for(fund of emergencyFund){%>
                    <tr>
                        <td><%=fund.currentfund%></td>
                        <td><%=fund.depositedAmount%></td>
                        <td><%=fund.note%></td>
                        <td><%=fund.depositeDate.toISOString().split('T')[0]%></td>
                        <td>
                            <form class="delete-button" method="get" action="/emergency/<%=fund._id%>/delete">
                                <button type="submit">
                                    <i class="fa-solid fa-trash" style="color: #8f1010;"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                <%}%>
            </table>
            <p id="target-amount">Targeted amount: <%=target%></p>
        <%}%>
        <% if(error){%>
            <p style="color:red;"><%= error %></p>
        <%}%>
        <button id="show-form-btn">Add New Budget</button>
        <hr />
        <form id="add-form" class="hidden" method="post" action="/emergency/<%=user._id%>/add">
            <label for="targetfund">Your targeted Fund (re-enter to update this value)</label><br>
            <input type="number" name="targetfund" min="0" steps="0.0001" value="<%=target%>"><br><br> 
            <label for="depositedAmount">Deposite*</label><br>
            <input type="number" name="depositedAmount" min="0" setps="0.0001" required><br><br>
            <lable for="note">Add your note</lable><br>
            <textarea name="note" rows="0" cols="50" maxlength="200" >Nothing to note</textarea><br><br>
            <label for="depositeDate">Deposite Date(write in this format DD-MM-YYYY)</label></br>
            <input type="text" name="depositeDate" placeholder="DD-MM-YYYY"></br></br>
            <button type="submit">Submit</button>
        </form>
    </div>

    <script>
        const showBtn = document.getElementById('show-form-btn');
        const form = document.getElementById('add-form');
    
        showBtn.addEventListener('click', () => {
          form.classList.toggle('hidden');
        });
    </script>
</body>
