<% layout("/layouts/boilerplate") %>
<link rel="stylesheet" href="/expenseCategory.css">
<link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
<body>
    <div class="body-page">
        <h3>Track your expenses</h3>
        <% let totalExpense = 0; %>
        <% let month=['January', "February", 'March', 'April', 'May', 'June',
            "July", "August", "September", "October", "November", "December"]; %>
        <% if(expenseCatagory.length == 0){%>
            <h6>You are yet to add any</h6>
        <%} else {%>
            <table border="1">
                <tr>
                    <th>Reson of cost</th>
                    <th>Cost</th>
                    <th>Month</th>
                    <th>Date</th>
                    <th>Delete</th>
                </tr>
                <% for (expense of expenseCatagory){%>
                    <% let date = expense.date.toISOString().split('T')[0]; %>
                    <tr>
                        <td><%=expense.category%></td>
                        <td><%=expense.cost%></td>
                        <% totalExpense+=expense.cost%>
                        <% if(expense.moth in month){%>
                            <td><%=expense.month%></td>
                        <%} else {%>
                            <% let monthIDX = Number(date.split(/[ -/:;]/)[1][1]); %>
                            <td><%=month[monthIDX-1]%></td>
                        <%}%>
                        <td><%=expense.date.toISOString().split('T')[0]%></td>
                        <td>
                            <form class="delte-button" method="get" action="/expenseCategory/<%=expense._id%>/delete">
                                <button type="submit">
                                    <i class="fa-solid fa-trash" style="color: #8f1010;"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                <%}%>
        </table>
        <%}%>
        <p id="total-expense">Total Expense: <%=totalExpense%></p>
        <br>
        <button id="show-form-btn">Add New</button>
        <% if (error) { %>
            <p style="color:red;"><%= error %></p>
          <% } %>
        <hr />
        <form id="add-form" class="hidden" method="post" action="/expenseCategory/<%=user._id%>/add">
            <label for="category">Where/How did you spend your money?</label></br>
            <textarea name="category" rows="0" cols="50" maxlength="200" required></textarea><br><br>
            <label for="cost">How much did you cost?</label><br>
            <input type="number" name="cost" min="0" step="0.0001" required><br><br>
            <label for="inputmonth">Month</label><br>
            <input type="text" name="inputmonth" rewured><br><br>
            <labe for="inputDate">Date</labe>
            <input type="text" name="inputDate" placeholder="DD-MM-YYYY" required></br></br>
    
            <button type="submit">Submit</button>
        </form>
    </div>

    <script>
        const showBtn = document.getElementById('show-form-btn');
        const form = document.getElementById('add-form');
    
        showBtn.addEventListener('click', () => {
          form.classList.toggle('hidden');
        });
    </script>
</body>